h1 {
color: rgb(255, 255, 255);
}

body {
font-family: italic;
background-color: #5d88a2;
padding: 40px;
text-align: center;
}

input[type="number"] {
padding: 10px;
font-size: 16px;
width: 100%;
margin: 15px 0;
border-radius: 8px;
border: 1px solid #ccc;
}

a {
  text-decoration: none;
  color: #ffffff;
}

a:hover  {
color: #ceecff;
}

button {
padding: 10px 20px;
font-size: 16px;
background-color: #5d88a2;
color: white;
border: none;
border-radius: 8px;
cursor: pointer;
}

button:hover {
background-color: #5e70a1;
}

p {
  font-weight: bold;
  color: #ffffff;
  margin: 5px 0 15px 0;
}